
 .content {
   /* width: 100vw; 
    height: 75vh;
    bottom: 5vh; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {   
    width: 75vw;
}

.text {
    height: 50vh;
    margin: 3vh;
    background-color: green; 
}

.link {
    height: 25vh;
    background-color: beige;
    margin: 3vh;
    display: flex;
    justify-content: space-between;
}

/*.logo {
    height: 20vh;
    width: 30vw;
    margin: 2.5vh 2.5vw;
}  

a {
    background-color: beige;
}
- logos currently removed  */

.alignment {
    height: 1vh;
    width: 100vw;
    margin: 9vh;
    display: block;
}

@media only screen and (min-width: 426px) {
    .content {
        flex-direction: row;
    }
    
    .card {
        flex: 40%;
       /* height: auto;
        margin: auto; */
    }

    .link {
        flex-direction: column;
        height: 50vh;
    }

    .alignment {
        display: none;
    }

    #first {
        order:1
    }

    #second {
        order: 2;
    }

    #third {
        order: 4
    }

    #fourth {
        order:3;
    }

    #fifth {
        order: 5;
    }

    #sixth {
        order: 6;
    }
}

@media only screen and (min-width: 651px) {
    .content {
        justify-content: space-around;
    }
    
    .card {
        flex: 25%;
        height: 40vh;
        max-width: 45vw;
    }