.content {
    max-height: 95vh; 
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h3 {
    padding: 3vw; 
}

.text {
    margin: 3vh;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffbd59;
    font-size: 2vh;
    box-shadow: none; 
}

p {
    padding: 3vw; 
}

.link {
    height: 25vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    position: relative;
    animation-name: slide;
    animation-duration: 3s;
}

img {
    width: 24vw;
    display: inline-block;
}

.caption {
    font-size: 2vh;
    width: 25vw;
    height: 25vw;
    text-align: center;
    background-color: #ffbd59;
    border-radius: 1em;
    color: #637789;
    padding: 2vh;
    font-weight: 1000;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: initial;
    z-index: 1;
}

@keyframes slide {
    from {
        transform: translate(36vw)
    } 
    to {
        transform: translate(0)
    }
}

/* .alignment {
    height: 1vh;
    width: 100vw;
    margin: 9vh;
    display: block;
} */

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (orientation: landscape) {
    .link {
        max-width: 30vw;
    }

   .logo {
        max-width: 10vw;
        right: 2vw;
    }

    .caption {
        width: 10vw;
        height: 10vw;
        background-color: #ffbd59;
        border-radius: 1em;
        color: #637789;
        
        /* font-size: 4vh; */
        font-weight: 1000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    @keyframes slide {
        from {
            transform: translate(10vw)
        } 
        to {
            transform: translate(0vw)
        }
    }   


    .text {
        max-width: 60vw;
        flex-direction: column;
        align-items: flex-start;
        font-size: 3vh;
    }

    .alignment {
        display: none;
    }

    article {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}