
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
  
}
.card-box {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    position: sticky;
    top: 0;
    justify-self: flex-start;
    background-color: #637789;
    
}

.card {
    background-color: #ffbd59;   
    width: 85vw;
    height: 25vh;
    margin: calc(15vw /2);
    overflow: hidden;
}

.container {
    align-self: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    
}
article {
    width: 75vw;
    background-color: rgba(245,245,220, 0.5);
    border-radius: 1vh;
    padding: 1vh 3vw;
    margin: 2vh 2vw;
}

/* Using alignment container to blank out text scrolling under the blog card - unsuccessful
.alignment {
    width: 100%;
    height: 30vh;
    position: fixed;
    top: 0;
}


/* .card {
    position: fixed;
    background-color: #ffbd59;   
    width: 85vw;
    height: 25vh;
    margin: 1vh calc(15vw /2);   
}

.alignment {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 30vh;
    margin: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 25vh;
    top: 75vh;
    margin: 3vh calc(15vw /2);
}

article {
    width: 75vw;
    background-color: rgba(245,245,220, 0.5);
    margin:3vh calc(15vw /2);
    border-radius: 1vh;
    padding: 1vh;
}
*/

@media only screen and (min-width: 770px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
  
    .alignment {
        display: none;
    }

    .card-box {
        width: 30vw;
        flex: 40%;
    }

    .card {
        width: 30vw;
    }

    .container {
        position: initial;
        bottom: initial;
        top: initial;
        margin: initial;
        width: 30vw;
        flex: 40%;
    }

    article {
    width: initial;
    background-color: rgba(245,245,220, 0.5);
    margin:3vh calc(15vw /2);
    border-radius: 1vh;
    padding: 1vh;
   
    /*.card {
        position: fixed;
        display: block;
        width: 45vw;
        height: 87vh;
        margin: none;
        top: 3vh;
        left: -3vw; 
    }

    .container {
        position: absolute;
        display: block;
        right: 3vw;
        width: 45vw;
        height: auto;
        top: 3vh;
        bottom: 15vh; */
  /*      overflow:
        
        margin: auto;
    }

    article {
        width: 40vw;
        margin: none;
        padding: none;
        justify-self: flex-end;
    } */
} 