body {
    
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./me-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 95vh;
  margin: 0px;


    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 5vh;
}

.main-image {
    display: none;
}

.heading {
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 75vw;
    height: 25vh;
}

#linkedin, #github, #email {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    /* margin: 1px; */
}

.logo {
    width: 10vw;
    height: 10vw;
    justify-self: flex-start;
}

div > a {
    align-self: center;
    font-size: 7vw;
}

#page-end {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
}

#closing-image {
    display: none;
    width: 75vw;
    justify-self: flex-end;
    align-self: center;
}

.alignment-bottom {
    height: 5vh;
    width: 100vw;
}

a {
    background: none;
    font-weight: 900;
    color: #ffbd59;
} 

@media only screen and (min-width: 715px) {
     body {
        background-image: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;        
    }

    .main-image {
        display: block;
        max-height: 80vh;
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);    
    }

    .contacts {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        align-self: center;
        max-width: 30%;
        order: 1
        height: 50vh;
    }

    #linkedin, #github, #email {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    
    }
}