/*This document contains the layout information unique to index.html */


body {
    /*This section of code controls the background image for portrait mode display; including a slight shading to make text easier to read*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./images/me1440.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Alignment of items on the page*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Height set to allow for proper alignment and not overlapping navbar*/
    height: 95vh;
}

/*Image is set as background and also present as an element in index.html
Display of image element needs to be hidden for portrait mode*/
.main-image {
    display: none;
}


.welcome {
  text-align: center;
}

@media only screen and (orientation: landscape) {    
    
    /*Alignment of items on the page needs to be changed from vertial to horizontal.
    FlexBox settings need to be changed to allow for correct spacing and the introduction of the main-image element*/
    body {
        background-image: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;        
    }

    /*The image needs to have display properties set as the background image is no longer present*/
    .main-image {
        display: block;
        max-height: 80vh;
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);       
    }

    .welcome {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        align-self: center;
        max-width: 30%;
    
       /* background-color: rgba(203, 209, 214, 0.5);
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);  
        padding: 1vw;
        */
    }
}