body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./me1440.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 95vh;
  margin: 0px;
}

 .main-image {
    display: none;
}
/*
 .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
} */

.welcome {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: none;
}

.heading, .sub-heading {
    text-align: center;
}

 .sub-heading {
    background: none;
    font-weight: 900;
} 

/*
@media only screen and (min-width: 451px) {
    body {
          
        background-image: url(./me-mobile.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
     
        display: flex;   
        justify-content: center;
        align-items: space-around;
    }
   
    .main-image {  
       /* width: 95vw;
        margin: auto;
        display: block; 
        display: hidden;
    }
  
    .welcome {
        position: fixed;
        top: 45%;
        bottom: 50%;
        margin: 1px;
        left: 0;
        right: 0;
        background: none;
    }

    .heading {
        background: none;
        color: #cbd1d6;
    }

    .sub-heading {
        background: none;
        color: #cbd1d6;
        font-weight: 900;
        font-size: 4vh;
    }
} */

@media only screen and /*(min-width: 500px)*/ (orientation: landscape) {
    body {
        background-image: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;        
    }

    .main-image {
        display: block;
        max-height: 80vh;
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);       
    }

    .welcome {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        align-self: center;
        max-width: 30%;
    
       /* background-color: rgba(203, 209, 214, 0.5);
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);  
        padding: 1vw;
        */
    }
}