/*Layout for container containing the blog card. 
For ease of understanding, code seperated into two sections.
First section contains rules governing position of child element, and and positioning and color rules to prevent the appearance.
Then, rules for positioning and coloration to prevent the appearance of blog articles scrolling "behind" the blog card.*/
.card-box {
    display: flex;
    justify-content: space-around;
    align-items:center;
    
    position: sticky;
    top: 0;
    background-color: #637789; 
    
}

.card {
    border-style: hidden hidden solid hidden;
    border-color: #ffbd59; 
    width: 85vw;
    height: 25vh;
    margin: calc(15vw /2) calc(15vw /2)  calc(15vw /4) calc(15vw /2);
    overflow: hidden;
    display: flex;
    justify-content: space-around;       
}

/*Layout rules governing the items on the left of the blog card, namely the image, heading, and subheading.*/
.card-left {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

#blog-img {
        width: 20vw;
}

/*Heading sizes set manually to avoid display conflicts.
h1, for example, overflows card space*/
h1, h2 {
    color: #ffbd59;
    font-size: 3vh;
    padding: 1vh;
}

h3, h4 {
    font-size: 2vh;
}

/*Rules for aligning the navigation component of the blog card*/
.card-right {
    flex: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.blog-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 30vw;
}

/*This sets the colour of the bullet points displayed next to the <li> items making up the blog navigation*/
li {
    color: #ffbd59;
}

ul a {
    color: #ffbd59;
}

/*Padding-bottom set to <div> element containing blog <article> elements, to prevent overlap with navbar. Max-width set to prevent sideways scrolling on some displays*/
.container {
    max-width: 100vw;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/*Alignment and display rules governing the blog <article> elements and the text in their child elements*/
article {
    width: 75vw;
    padding: 1em;
    text-align: center;
    color: #ffbd59;
}

/*Rules for the sizing, display, and alignment of images in the blog articles.*/
article > img {
    width: 20vw;
    justify-self: center;
    display: inline-block;
}

@media only screen and (orientation: landscape) {
   
    /*Rules for <body> become necessary to allow the new page layout. Redundant rules had been introduced earlier in document, merged with this section. */
    body {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
    } 
  
    /*Parent container for card needs to be repositioned for intended layout*/
    .card-box {
        position: fixed;
        top: 2vh;
        width: 40vw; 
    }

    /*Dimensions and alignment of card change for new position and layout
    Padding set to make better use of space, so elements aren't nearing edges of card
    Margin set to maintain proper positioning*/
    .card {
        max-width: 30vw;
        height: 85vh;
        padding: 1vh 3vw;
        margin: 2vh 2vw;
        flex-direction: column;
        border-style: hidden solid hidden hidden;
    }

    /*Re-alignment of heading and image in blog card required to accomodate new layout*/
    .card-left {
        justify-content: space-around;
    }

    /*The parent <div> housing the blog <article> elements needs some adjustment to display correctly in new layout.*/
    .container {
        width: 60vw;
        align-self: flex-end;
        padding-top: 2vh;
    }

    /*New padding and margin rules allow for better spacing between articles and alignment within page
    Text-alignment changed as "center" looks incongrous with this layout*/
    article {
        width: 50vw;
        padding: 1vh 3vw;
        margin: 2vh 2vw;
        text-align: left;
    }

    /*Changes to the sizing of images in the blog articles are required to keep image size appropriate*/
    article > img {
        width: 15vw;
    }   
}

/*Card looks quite empty on particularly large landscape displays.
New media breakpoint resizes card to be smaller, and centered vertically. Appearance of vertical centering requires uneven positioning values to allow for space taken by navbar.
Below rules impact only the blog card, and it's children and contents.*/
@media only screen and (orientation: landscape) and (min-height: 1000px) {
    .card-box {
        margin-top: 10vh;
        margin-bottom: 25vh;
    }
    
    .card {
        height: 60vh;
    }

    /*Components of the blog card - navigation, image, and heading require some tweaks to spacing and sizing to display proportionally with new card size*/
    #blog-img {
        width: 15vw;
    }

    .card-left {
        flex: 70%
    }

    .card-right {
        flex: 30%;
    }
}