
body {
    /*This section of code controls the background image for portrait mode display; including a slight shading to make text easier to read*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/me1440.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*Alignment of items on the page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /*Height set to allow for proper alignment and not overlapping navbar*/
    height: 95vh;
}

/*Image is set as background and also present as an element in index.html
Display of image element needs to be hidden for portrait mode*/
.main-image {
    display: none;
}

/*Sizing for parent container containing contact components, and internal alignment rules*/
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}

/*Alignment rules for individual <div> elements containing visual/text component pairs*/
#linkedin, #github, #email {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: center;

}

/*Sizing rules for displayed logos*/
.logo {
    width: 10vw;
    height: 10vw;
}

/*Sizing, alignment and color for text links. Specified as child of div so as not to impact navbar*/
div > a {
    align-self: center;
    font-size: 7vw;
    font-weight: 900;
    color: #ffbd59;
}


@media only screen and (orientation: landscape) {

    body {
        /*background-image set to none to cancel its display and allow for seperate image element*/
        background-image: none;
        
        /*FlexBox settings need to be changed to allow for correct spacing, change of layout from vertical to horizontal, and the introduction of the main-image element.*/
        flex-flow: row-reverse;
        flex-wrap: wrap;
        justify-content: space-around;        
    }

    /*The image needs to have display properties set as the background image is no longer present*/
    .main-image {
        display: block;
        max-height: 80vh;
        box-shadow: 0 2vw 2vh 0 rgba(0,0,0,0.5);   
    }

    /*Sizing of <div> element containing link components adjusted to suit new layout*/
    .contacts {
        max-width: 40vw;
        height: 40vh;
    }

    /*Width of seperate link components adjusted to allow for display alongside image*/
    #linkedin, #github, #email {
        max-width: 40vw;
    }
    
    /*font-size changed to scale off view-height, to maintain proportion vs portrait display*/
    div > a {
        font-size: 7vh;
    }

    /*Sizing of logos adjusted to suit new layout*/
    .logo {
        width: 5vw;
        height: 5vw;
    }
}