@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik:wght@300&display=swap');

* {
    font-family: Rubik, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #637789;
}

/*Default settings for <h1> and <h2> elements across all pages.*/
h1, h2 {
    color: #ffbd59;
}

h1  {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 4vh;
}

/*Default font size and color for <p> elements across all pages*/
p {
    font-size: 2vh;
    color: #ffbd59;
}

/*Default color for links across all pages*/
a {
    color: #494548;
    text-decoration: none;
}

/* All below is layout for Footer - this should be universal across all pages */

footer {
    position: fixed;
    height: 5vh;
    top: 95vh;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#ffbd59;
    width: 100vw;
    height: 5vh;
    font-size: 2vh;
}

a:visited {
    color: #494548;
    text-decoration: none;
}

nav a {
    margin: 1vh;
    border: 1vh;
    border-radius: 1vh;
    padding: 1vh;   
}

